extends ./layout.jade
block contenido
    div(class="col-md-8 remove-float d-block mx-auto text-center big-top-space")
        h1 Prueba
        a(href="/login" class="right-space") Iniciar sessión
        a(href="/signup") Registrarse