doctype html
html(lang="es")
    head
        title Esto es una prueba
        meta(charset="utf-8")
        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css",rel="stylesheet")
        link(href="/css/app.css",rel="stylesheet")
        script(src="/socket.io/socket.io.js")
    body
        nav(class="large-padding black white-text")
            ul
                li 
                    a(href="/app") Inicio
                li 
                    a(href="/app/imagenes") Imagenes
                li
                    a(href="/app/imagenes/new") Agregar
        block contenido